{% extends 'base.html' %}
{% set active_page = 'home' %}

{% block header %}
  <!--Jumbotron-->
  <div class="p-5 mb-4 bg-light rounded-3">

    <div class="container">



      <div class="row">
        <div class="col-12 col-md-4">
          <div class="text-center">
            <img src="{{ url_for('static', filename='img/logo.png') }}" class="img-fluid mx-auto" alt="...">
          </div>
        </div>

        <div class="col-12 col-md-8 fs-2">
          <h1 class="display-5 fw-bold">Yours Quest for the Perfect TTRPG Table Ends Here!</h1>
          RollTables is your ultimate gateway to the world of tabletop roleplaying adventures. Whether you're a Dungeon
          Master in search of eager adventurers or a player seeking the perfect TTRPG group, our platform brings gamers
          together. Explore a realm of endless possibilities, forge unforgettable friendships, and embark on epic
          quests.
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}   
  <main>
    <!-- Upcoming Games Container -->
    <h2 class="text-center">Upcoming Games</h2>

    <!-- A dropdown select element with an ID 'gameSystemFilter'. When its value is changed, it triggers the JavaScript function 'filterByGameSystem()'. -->
    <select id="gameSystemFilter" onchange="filterByGameSystem()">
      <!-- The 'All' option in the dropdown. If there's no current selected game system (i.e., 'current_game_system' is not defined), this option will be selected by default. -->
      <option value="" {% if not current_game_system %}selected{% endif %}>All</option>
  
        <!-- Loop through all the game systems fetched from the database. -->
        {% for game_system in game_systems %}
        <!-- For each game system, create an option with its ID as the value. -->
          <option value="{{ game_system.id }}" 
              {% if game_system.id == current_game_system|default(0)|int %}selected{% endif %}>
          <!-- Display the game system's name as the option text. -->
            {{ game_system.name }}
          </option>
        {% endfor %}
    </select>
    
    <div class="container text-center">
      <div class="row row-cols-1 row-cols-xs-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
        <div class="col">
          <div class="card h-100">
            <span class="badge badge-theme">Active</span>
            <img src="img/image_1.jpg" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Dragon's Hoard: The Quest for Riches</h5>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <h3>$9.99</h3>
                </li>
                <li class="list-group-item">
                  <i class="bi bi-calendar-date"></i> 15/07/2023
                </li>
                <li class="list-group-item">
                  <i class="bi bi-clock"></i> 6:00pm - 10:00pm
                </li>
                <li class="list-group-item"><i class="bi bi-person-fill"></i> 1 of 4 seats remaining </li>
                <li class="list-group-item"><i class="bi-globe"> Brisbane, QLD </i></li>
                <li class="list-group-item">
                  <p class="card-text">
                    A short description of the event </p>
                </li>

                <li class="list-group-item">
                  <p class="card-text">
                    <span class="badge badge-theme">All Ages</span> <span class="badge badge-theme">Combat
                      Focused</span> <span class="badge badge-theme">Amateur - Veteran Players</span>
                    <span class="badge badge-theme">One Shot</span> <span class="badge badge-theme">From Session
                      Zero</span> <span class="badge badge-theme">Homebrew Rules</span> <span
                      class="badge badge-theme">Open World</span>
                  </p>
                </li>
              </ul>
            </div>
            <div class="card-footer">
              <a href="view_event.html" class="btn button-theme stretched-link">View Game Details</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <span class="badge badge-theme">Active</span>
            <img src="img/image_1.jpg" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Haha</h5>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <h3>$9.99</h3>
                </li>
                <li class="list-group-item">
                  <i class="bi bi-calendar-date"></i> 15/07/2023
                </li>
                <li class="list-group-item">
                  <i class="bi bi-clock"></i> 6:00pm - 10:00pm
                </li>
                <li class="list-group-item"><i class="bi bi-person-fill"></i> 1 of 4 seats remaining </li>
                <li class="list-group-item"><i class="bi-globe"> Brisbane, QLD </i></li>
                <li class="list-group-item">
                  <p class="card-text">
                    A short description of the event </p>
                </li>

                <li class="list-group-item">
                  <p class="card-text">
                    <span class="badge badge-theme">All Ages</span> <span class="badge badge-theme">Combat
                      Focused</span> <span class="badge badge-theme">Amateur - Veteran Players</span>
                    <span class="badge badge-theme">One Shot</span> <span class="badge badge-theme">From Session
                      Zero</span> <span class="badge badge-theme">Homebrew Rules</span> <span
                      class="badge badge-theme">Open World</span>
                  </p>
                </li>
              </ul>
            </div>
            <div class="card-footer">
              <a href="view_event.html" class="btn button-theme stretched-link">View Game Details</a>
            </div>
          </div>
        </div>
        {%for event in events%}
        <div class="col">
          <div class="card h-100">

            <span class="badge text-bg-secondary">Cancelled</span>
            <img src={{ url_for('static', filename=event.images[0].filepath) }} class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">{{event.title}}</h5>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <h3>{{event.cost}}</h3>
                </li>
                <li class="list-group-item">
                  <i class="bi bi-calendar-date"></i> {{event.date}}
                </li>
                <li class="list-group-item">
                  <i class="bi bi-clock"></i> {{event.time}}
                </li>
                <li class="list-group-item"><i class="bi bi-person-fill"></i> 1 of 4 seats remaining </li>
                <li class="list-group-item"><i class="bi-globe"> {{event.location}} </i></li>
                <li class="list-group-item">
                  <p class="card-text">
                    {{event.description}} </p>
                </li>
        
                <li class="list-group-item">
                  <p class="card-text">
                    <span class="badge badge-theme">All Ages</span> <span class="badge badge-theme">Combat
                      Focused</span> <span class="badge badge-theme">Amateur - Veteran Players</span>
                    <span class="badge badge-theme">One Shot</span> <span class="badge badge-theme">From Session
                      Zero</span> <span class="badge badge-theme">Homebrew Rules</span> <span
                      class="badge badge-theme">Open World</span>
                  </p>
                </li>
              </ul>
            </div>
            <div class="card-footer">
              <a href="view_event.html" class="btn button-theme stretched-link">View Game Details</a>
            </div>
          </div>
        </div>
      {%endfor%}
    </div>
      <div class="mb-3"></div>

      <div class="d-grid gap-2 ml-3 padding">
        <button class="btn button-theme" type="button">View More Events</button>
      </div>
    </div>
  </div>

  <script>

    // This function is triggered whenever the user changes the selection in the game system dropdown.
    function filterByGameSystem() {
        // Fetch the currently selected game system's ID from the dropdown.
        const gameSystemId = document.getElementById('gameSystemFilter').value;

        // Check if a specific game system is chosen (i.e., the value is not empty which corresponds to the "All" option).
        if (gameSystemId !== "") {
            // If a specific game system is chosen, redirect the user to the homepage
            // but with a query parameter indicating the chosen game system.
            // This will cause the server to filter events based on this game system.
            window.location.href = `/?game_system_id=${gameSystemId}`;
        } else {
            // If the "All" option is selected (or no specific game system is chosen),
            // redirect the user to the homepage without any filtering query parameter.
            window.location.href = `/`;
        }
    }
    </script>
        {% endblock %}
