{% extends 'base.html' %}
{% set active_page = 'login' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}

<div class="container mt-3">
     <form method = "POST">
        {{form.hidden_tag()}}
        <div class="row text-center">
            <div class= "col-12">
                <div class="page-header">
                    <h4>{{ heading }}</h4>
                </div>
            </div>
            <div class = "col-12">
                <div class="row">{{form.user_name.label}}{{ form.user_name(class_ = 'form-control', size = 20) }}</div>
            </div>
            <div class = "col-12 mt-3">
                <div class="row">{{form.password.label}}{{ form.password(class_ = 'form-control', size = 20) }}</div>
            </div>
            <div class = "col-12 mt-3">
                <input class="btn button-theme" type="submit" value = "Login">
            </div>
        </div>
     </form> 
     
</div>

{% endblock %}