{% extends 'base.html' %}
{% set active_page = 'my_sessions' %}

{% block content %} 

    <div class="container padding">
        <div class="row row-cols-1 row-cols-xs-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
            <div class="col">
                <div class="card h-100">
                    <span class="badge badge-theme">Active</span>
                    <img src="img/image_1.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Dragon's Hoard: The Quest for Riches</h5>
                        <p class="booking-id"><strong>Booking ID:</strong> 0001</p>
                        <p class="booking-id"><strong>Purchased on 09/07/2023</strong> </p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <h3>$9.99</h3>
                            </li>
                            <li class="list-group-item">
                                <i class="bi bi-calendar-date"></i> 15/07/2023
                            </li>
                            <li class="list-group-item">
                                <i class="bi bi-clock"></i> 6:00pm - 10:00pm
                            </li>
                            <li class="list-group-item"><i class="bi-globe"> Brisbane, QLD </i></li>
                            <li class="list-group-item">
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk of the card's
                                    content.
                                </p>
                            </li>
                            <li class="list-group-item">
                                <p class="card-text">
                                    <span class="badge badge-theme">All Ages</span> <span class="badge badge-theme">Combat
                                      Focused</span> <span class="badge badge-theme">Amateur - Veteran Players</span>
                                    <span class="badge badge-theme">One Shot</span> <span class="badge badge-theme">From Session
                                      Zero</span> <span class="badge badge-theme">Homebrew Rules</span> <span
                                      class="badge badge-theme">Open World</span>
                                  </p>
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <a href="view_event.html" class="btn button-theme stretched-link">View Game Details</a>
                    </div>
                </div>

            </div>
            <div class="col">
                <div class="card h-100">
                    <span class="badge text-bg-secondary">Inactive</span>
                    <img src="img/image_2.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Whispers of the Obsidian Citadel</h5>
                        <p class="booking-id"><strong>Booking ID:</strong> 0001</p>
                        <p class="booking-id"><strong>Purchased on 09/07/2023</strong> </p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <h3>$9.99</h3>
                            </li>
                            <li class="list-group-item">
                                <i class="bi bi-calendar-date"></i> 15/07/2023
                            </li>
                            <li class="list-group-item">
                                <i class="bi bi-clock"></i> 6:00pm - 10:00pm
                            </li>
                            <li class="list-group-item"><i class="bi-globe"> Brisbane, QLD </i></li>
                            <li class="list-group-item">
                            <p class="card-text">
                                Some quick example text to build on the card title
                                and make up the bulk of the card's content.
                            </p>
                            </li>
                            <li class="list-group-item">
                                <p class="card-text">
                                    <span class="badge badge-theme">All Ages</span> <span class="badge badge-theme">Combat
                                      Focused</span> <span class="badge badge-theme">Amateur - Veteran Players</span>
                                    <span class="badge badge-theme">One Shot</span> <span class="badge badge-theme">From Session
                                      Zero</span> <span class="badge badge-theme">Homebrew Rules</span> <span
                                      class="badge badge-theme">Open World</span>
                                  </p>
                            </li>
                        </ul>

                    </div>
                    <div class="card-footer">
                        <a href="view_event.html" class="btn button-theme stretched-link">View Game Details</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">

                    <span class="badge text-bg-warning">Sold out</span>
                    <img src="img/image_3.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Sands of the Shattered Realms</h5>
                        <p class="booking-id"><strong>Booking ID:</strong> 0001</p>
                        <p class="booking-id"><strong>Purchased on 09/07/2023</strong> </p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <h3>$13.99</h3>
                            </li>
                            <li class="list-group-item">
                                <i class="bi bi-calendar-date"></i> 15/07/2023
                            </li>
                            <li class="list-group-item">
                                <i class="bi bi-clock"></i> 6:00pm - 10:00pm
                            </li>
                            <li class="list-group-item"><i class="bi-globe"> Brisbane, QLD </i></li>
                            <li class="list-group-item">
                            <p class="card-text">
                                Some quick example text to build on the card title
                                and make up the bulk of the card's content.
                            </p>
                            </li>
                            <li class="list-group-item">
                                <p class="card-text">
                                    <span class="badge badge-theme">All Ages</span> <span class="badge badge-theme">Combat
                                      Focused</span> <span class="badge badge-theme">Amateur - Veteran Players</span>
                                    <span class="badge badge-theme">One Shot</span> <span class="badge badge-theme">From Session
                                      Zero</span> <span class="badge badge-theme">Homebrew Rules</span> <span
                                      class="badge badge-theme">Open World</span>
                                  </p>
                            </li>
                        </ul>

                    </div>
                    <div class="card-footer">
                        <a href="view_event.html" class="btn button-theme stretched-link">View Game Details</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">

                    <span class="badge text-bg-secondary">Cancelled</span>
                    <img src="img/image_4.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Cosmic Dread: Beyond the Veil</h5>
                        <p class="booking-id"><strong>Booking ID:</strong> 0001</p>
                        <p class="booking-id"><strong>Purchased on 09/07/2023</strong> </p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <h3>$21.20</h3>
                            </li>
                            <li class="list-group-item">
                                <i class="bi bi-calendar-date"></i> 15/07/2023
                            </li>
                            <li class="list-group-item">
                                <i class="bi bi-clock"></i> 6:00pm - 10:00pm
                            </li>
                            <li class="list-group-item"><i class="bi-globe"> Brisbane, QLD </i></li>

                            <li class="list-group-item">
                            <p class="card-text">
                                Some quick example text to build on the card title
                                and make up the bulk of the card's content.
                            </p>
                            </li>
                            <li class="list-group-item">
                                <p class="card-text">
                                    <span class="badge badge-theme">All Ages</span> <span class="badge badge-theme">Combat
                                      Focused</span> <span class="badge badge-theme">Amateur - Veteran Players</span>
                                    <span class="badge badge-theme">One Shot</span> <span class="badge badge-theme">From Session
                                      Zero</span> <span class="badge badge-theme">Homebrew Rules</span> <span
                                      class="badge badge-theme">Open World</span>
                                  </p>
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <a href="view_event.html" class="btn button-theme stretched-link">View Game Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}
