{% extends 'base.html' %}
{% set active_page = 'create_session' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}
<div class="padding"></div>
  <div class="container">
    <form action="" method="post" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <div class="row text-center">
        <h2>Title</h2>
      </div>
      <div class="row">
        <div class="input-group mb-3">
          <span class="input-group-text"><i class="bi bi-book"></i></span>
          {{ form.title(class_ = 'form-control', size = 32) }}
        </div>
      </div>
      <div class="row text-center">
        <h2>Description</h2>
      </div>
      <div class="row">{{ form.description(class_ = 'form-control', size = 32) }}</div>

      <div class="row text-center text-center d-flex justify-content-center bottom_padding">
        <div class="col-12 col-md-6 col-lg-4">
          Game System<div class="input-group mb-3">
            <span class="input-group-text"><i class="bi bi-gear-fill"></i></span>
            {{ form.game_system(class_ = 'form-control') }}
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          Cost<div class="input-group">
            <span class="input-group-text" id="basic-addon3">$</span>
            {{ form.cost(class_ = 'form-control') }}
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          Location<div class="input-group mb-3">
            <span class="input-group-text"><i class="bi bi-globe2"></i></span>
            {{ form.location(class_ = 'form-control') }}
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          Images<div class="input-group mb-3">{{ form.images(class_ = 'form-control') }}</div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          Time<div class="input-group mb-3">
            {{ form.start_time(class_ = 'form-control') }}
            <span class="input-group-text">to</span>
            {{ form.end_time(class_ = 'form-control') }}
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          Available seats<div class="input-group">
            <span class="input-group-text" id="basic-addon3"><i class="bi bi-person-fill"></i></span>
            {{ form.total_tickets(class_ = 'form-control') }}
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">Date
          {{ form.date(class_ = 'form-control') }}</div>
      </div>
      <hr />

      <div class="container">
        <div class="row text-center text-center d-flex justify-content-center bottom_padding">
          <h3>Tags</h3>
          <div class="col-12 col-md-6 col-lg-4">
            Age Group<div class="input-group mb-3">
              <span class="input-group-text"><i class="bi bi-patch-question-fill"></i></span>
              {{ form.age_group(class_ = 'form-control') }}
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            Campaign Focus<div class="input-group mb-3">
              <span class="input-group-text"><i class="bi bi-chat-dots-fill"></i></span>
              {{ form.campaign_focus(class_ = 'form-control') }}
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            Player Skill Level<div class="input-group mb-3">
              <span class="input-group-text"><i class="bi bi-award-fill"></i></span>
              {{ form.player_lower_skill_level(class_ = 'form-control') }}
              <span class="input-group-text">to</span>
              {{ form.player_higher_skill_level(class_ = 'form-control') }}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-check">
            {{ form.one_shot(class_ = '<input type="form-check-input">', id_ = 'formcheck1', type_ = "checkbox") }}
            <label class="form-check-label" for="formcheck1">One Shot</label>
          </div>
        </div>
        <div class="col">
          <div class="form-check">
            {{ form.session_zero(class_ = '<input type="form-check-input">', id_ = 'formcheck2', type_ = "checkbox") }}
            <label class="form-check-label" for="formcheck2">Starting from Session Zero</label>
          </div>
        </div>
        <div class="col">
          <div class="form-check">
            {{ form.homebrew(class_ = '<input type="form-check-input">', id_ = 'formcheck3', type_ = "checkbox") }}
            <label class="form-check-label" for="formcheck3">Homebrew Rules</label>
          </div>
        </div>
        <div class="col">
          <div class="form-check">
            {{ form.open_world(class_ = '<input type="form-check-input">', id_ = 'formcheck4', type_ = "checkbox") }}
            <label class="form-check-label" for="formcheck4">Open World</label>
          </div>
        </div>
      </div>



      </div>
      <div class="row text-center text-center d-flex justify-content-center bottom_padding">
        <div class="col-6 padding">
          {{ form.submit(class_ = "form-control", size=23) }}
        </div>
      </div>
    </form>

{% endblock %}
