{% extends 'base.html' %}
{% set active_page = 'events/list' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}
<div class="padding"></div>
<div class="container">
    <form action="" method="post" enctype="multipart/form-data">
        {{ search_form.hidden_tag() }}
        <div class="row text-center text-center d-flex justify-content-center bottom_padding">
            <div class="col-12">
                Search<div class="input-group">
                    <span class="input-group-text" id="basic-addon3"><i class="bi bi-fonts"></i></span>
                    {{ search_form.search(class_ = 'form-control') }}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                Game System<div class="input-group mb-3">
                    <span class="input-group-text"><i class="bi bi-gear-fill"></i></span>
                    {{ search_form.game_system(class_ = 'form-control') }}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                Status<div class="input-group">
                    <span class="input-group-text" id="basic-addon3">$</span>
                    {{ search_form.status(class_ = 'form-control') }}
                </div>
            </div>

            <div class="col-12">
                <div class="input-group">
                    {{ search_form.submit(class_ = 'form-control') }}
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">

                    </div>
                    <div class="modal-body">
                        <div class="row text-center text-center d-flex justify-content-center bottom_padding">
                            <div class="col-12">
                                Search<div class="input-group">
                                    <span class="input-group-text" id="basic-addon3"><i class="bi bi-fonts"></i></span>
                                    {{ search_form.search(class_ = 'form-control') }}
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                Game System<div class="input-group mb-3">
                                    <span class="input-group-text"><i class="bi bi-gear-fill"></i></span>
                                    {{ search_form.game_system(class_ = 'form-control') }}
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                Status<div class="input-group">
                                    <span class="input-group-text" id="basic-addon3">$</span>
                                    {{ search_form.status(class_ = 'form-control') }}
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="top_padding">
                                    <button type="button" class="btn button-theme" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">
                                        Purchase Ticket's
                                    </button>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="input-group">
                                    {{ search_form.submit(class_ = 'form-control') }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>



<div class="container text-center">
    <div class="row row-cols-1 row-cols-xs-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
        {%for event in events%}
        <div class="col p-2">
            <div class="card h-100">

                <span class="badge badge-theme-{{event.status.id}}">{{event.status.name}}</span>
                <div class="ratio ratio-1x1">
                    <img src={{ url_for('static', filename=event.images[0].filepath) }} class="card-img-fit">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{event.title}}</h5>
                    <i class="text-secondary">By {{event.owner.username}}</i>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h3>A${{event.cost|float|round(2)}}</h3>
                        </li>
                        <li class="list-group-item">
                            <i class="bi bi-calendar-date"></i> {{ event.date.strftime("%d/%m/%Y") }}
                        </li>
                        <li class="list-group-item">
                            <i class="bi bi-clock"></i> {{ event.start_time.strftime("%I:%M %p") }} - {{
                                event.end_time.strftime("%I:%M %p") }}
                        </li>
                        <li class="list-group-item">
                            <i class="bi bi-gear-fill"></i></i> {{event.game_system.name}}
                          </li>
                        <li class="list-group-item"><i class="bi bi-person-fill"></i> {{event.remaining_tickets}} of
                            {{event.total_tickets}} seats remaining </li>
                        <li class="list-group-item"><i class="bi-globe"> </i>{{event.location}}</li>
                        <li class="list-group-item">
                            <p class="card-text">
                                {% for tag in event.tags[0].get_tag_messages() %}
                                <span class="badge rounded-pill badge-theme tag-margin"> <span>{{tag}}</span></span>
                                  {% endfor %}
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="card-footer">
                    <a href="{{ url_for('events.showevent', id=event.id) }}"
                        class="btn button-theme stretched-link">View Game Details</a>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
    <div class="padding"></div>
</div>
{% endblock %}