{% extends 'base.html' %}
{% set active_page = 'my_bookings' %}

{% block content %}

<div class="container padding">
    <div class="row row-cols-1 row-cols-xs-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-3">
        {% for booking in bookings %}
        <div class="col p-2">
            <div class="card h-100">
                <span class="badge badge-theme">{{booking.event.status.name}}</span>
                <img src={{ url_for('static', filename=booking.event.images[0].filepath) }} class="card-img">
                <div class="card-img-overlay">
                    <div class="position-absolute top-0 end-0 m-4">
                        <span class="badge theme">Purchased on {{booking.purchase_date.strftime("%d/%m/%Y" " @ " "%I:%M %p")}}</span>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h3 class="card-title">{{ booking.event.title }}</h3>
                        </li>
                        <li class="list-group-item">
                            <h3>${{ booking.total_cost }}</h3>
                            <i class="text-secondary">Total Cost</i>
                        </li>
                        <li class="list-group-item">
                            <i class="bi bi-upc-scan"></i>
                            <span class="text-danger fs-3">  {{booking.unique_identifier}}</span>
                            <div class="text-secondary">Ticket ID</div>
                        </li>
                        <li class="list-group-item">
                            <i class="bi bi-people-fill"></i></i> <b>{{ booking.tickets }}</b> Tickets Purchased
                        </li>
                        <li class="list-group-item">
                            <h3>Event Info</h3>
                        </li>
                        <li class="list-group-item">
                            <i class="bi bi-calendar-date"></i> {{ booking.event.date.strftime("%d/%m/%Y") }}
                        </li>

                        <li class="list-group-item">
                            <i class="bi bi-clock"></i> {{ booking.event.start_time.strftime("%I:%M %p") }} - {{
                            booking.event.end_time.strftime("%I:%M %p") }}
                        </li>
                        <li class="list-group-item"><i class="bi-globe"> {{ booking.event.location }} </i></li>
                    </ul>
                </div>
                <div class="card-footer">
                    <a href="{{ url_for('events.showevent', id=booking.event.id) }}"
                        class="btn button-theme stretched-link">View Game Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}