{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}
<div class="padding"></div>
<div class="container bottom_padding">
  <div class="row d-flex justify-content-center">
    <div class="col-12  col-sm-12 col-md-6">

      <div id="carouselExampleAutoplaying" class="carousel slide object-fit-cover" data-bs-ride="carousel">
        <div class="carousel-inner w-20 object-fit-cover">
          <div class="carousel-item active">
            <div class="ratio ratio-1x1">
              <img src="{{ url_for('static', filename=event.images[0].filepath) }}"
                class="d-block w-100 rounded object-fit-cover" alt="...">
            </div>
          </div>
          {%for image in event.images[1:]%}
          <div class="carousel-item">
            <div class="ratio ratio-1x1">
              <img src="{{ url_for('static', filename=image.filepath) }}" class="d-block w-100 rounded object-fit-cover"
                alt="...">
            </div>
          </div>
          {%endfor%}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="text-center">
        <h1> {{ event.title }}</h1>
      </div>
    </div>
    <div class="col-12  col-sm-12 col-md-6">
      <div class="card text-center">
        <div class="card-header">
          <div class="row d-flex justify-content-center">
            <span class="badge badge-theme">{{event.status.name}}</span>
          </div>
        </div>
        <div class="card-body">
          <div class="card-title">
            <p class="fw-light">purchase a ticket for</p>
            <h1>${{event.cost}}</h1>
            <div>
              <p class="card-text">
              <p class="fw-bold"> {{ event.title }}</p>
              </p>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class="bi bi-person-fill"></i> {{event.remaining_tickets}} of
                  {{event.total_tickets}} seats remaining </li>
                <li class="list-group-item"><i class="bi-globe"> {{event.location}} </i></li>
                <li class="list-group-item"> <i class="bi bi-calendar-date"></i> {{ event.date.strftime("%d/%m/%Y") }} </i>
                </li>
                <li class="list-group-item"> <i class="bi bi-clock"> {{ event.start_time.strftime("%I:%M %p") }} - {{
                  event.end_time.strftime("%I:%M %p") }} </i>
                </li>
                <li class="list-group-item"> <i class="bi bi-gear-fill"></i> {{ event.game_system.name }} </i></li>

                <li class="list-group-item">
                  <p class="card-text">
                    {% for tag in event.tags[0].get_tag_messages() %}
                    <span class="badge rounded-pill badge-theme tag-margin"> <span>{{tag}}</span></span>
                    {% endfor %}
                  </p>
                </li>
              </ul>



              <div class="d-flex justify-content-center padding">
                <div class="input-group w-50">
                </div>
              </div>
              </ul>
              {% if not current_user.is_authenticated %}
              <div class="d-flex justify-content-center padding">
                <div class="col p-3">
                  <a href="{{url_for('auth.login')}}" class="btn button-theme" role="button">Go to Login Page to buy a
                    ticket</a>
                </div>
              </div>
              {% elif not event.status.id == 1 %}
              <div class="d-flex justify-content-center padding">
                <button type="button" class="btn button-theme" data-bs-toggle="modal" data-bs-target="#exampleModal"
                  disabled>
                  Session is No Longer Available for Purchase
                </button>
              </div>
              {% else %}
              <div class="d-flex justify-content-center padding">
                <button type="button" class="btn button-theme" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Purchase Ticket's
                </button>
              </div>
              {% endif %}




              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <form action="" method="post" enctype="multipart/form-data">
                      {{ booking_form.hidden_tag() }}
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Purchasing Tickets</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">


                        <div class="row">
                          <div class="col-12 p-4">
                            {{booking_form.amount(_class="form-control", id="ticketAmount",type="number")}}
                          </div>
                          <div class="col-12">
                            <p>You're Purchasing <b><span id="ticketCount">0</span></b> tickets for <b><span
                                  id="totalCost">$0</span></b>.</p>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <div class="row">
                          <div class="col">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                          </div>
                          <div class="col">
                            {{booking_form.submit(class_ = "form-control", id="confirmPurchasebtn")}}
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row d-flex justify-content-center">
    <div class="col-6  col-sm-12 col-md-6">
      <h1> Description</h1>
      {{ event.description}}
    </div>

    <div class="col-12 col-md-6">
      <div>
        <h1> Comments</h1>

        <div class="card shadow-0 border" style="background-color: #f0f2f5;">
          <div class="card-body p-4">
            {%for comment in event.comments%}
            <div class="card mb-4">
              <div class="card-body">
                <p>
                  {{comment.message}}
                </p>
                <div class="d-flex justify-content-between">
                  <div class="d-flex">
                    <i class="fa-solid fa-user mt-1" style="color: red;"></i>
                    <p class="small mb-0 ms-2">{{comment.user.username}}</p>
                  </div>
                  <div class="d-flex flex-row align-items-center">
                    <p class="small text-muted mb-0">{{comment.format_datetime()}}</p>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            {% if current_user.is_authenticated %}
            <form action="" method="post" enctype="multipart/form-data">
              {{ comment_form.hidden_tag() }}
              <div class="form-outline mb-4">
                <div class="col">
                  {{ comment_form.message(class_ = 'form-control') }}
                  <div class="col p-3">
                    {{ comment_form.submit(class_ = 'form-control') }}
                  </div>
                </div>
              </div>
            </form>
            {% else %}
            <div class="col">
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                readonly> You must be logged in to create comments</textarea>
              <div class="col p-3">
                <a href="{{url_for('auth.login')}}" class="btn button-theme" role="button">Go to Login Page</a>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // Get references to the input and spans for ticket count and total cost
  const ticketAmountInput = document.getElementById("ticketAmount");
  const ticketCountSpan = document.getElementById("ticketCount");
  const totalCostSpan = document.getElementById("totalCost");


  // Add an event listener to the input
  ticketAmountInput.addEventListener("input", updateModalText);

  function updateModalText() {
    const amount = parseInt(ticketAmountInput.value, 10) || 0;
    var eventCost = {{ event.cost| tojson
  }}

  ticketCountSpan.textContent = amount;
  totalCostSpan.textContent = "$" + (amount * eventCost);
  }

  updateModalText()



</script>

{% endblock %}